body{
    overflow: hidden;
    overflow-y: auto;
}

.v-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

.show-mob {
    @include desktop() {
	display: none;
    }
}

.show-desk {
    display: none;
    @include desktop() {
	display: block;
    }
}

.hide-scroll {
    &::-webkit-scrollbar {
	height: 0;
	width: 0;

	&-track {
	    background-color: transparent;
	}

	&-thumb {
	    background-color: transparent;
	}
    }
}

img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.swiper-lazy-loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:not([type='radio']):not([type='checkbox']) {
    border-radius: 0;
    -webkit-appearance: none;
}